apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: jupyterhub
  namespace: jupyterhub
  annotations:
    cert-manager.io/cluster-issuer: "{{ argocd_tls_issuer }}"
    traefik.ingress.kubernetes.io/router.tls: "true"
    external-dns.alpha.kubernetes.io/hostname: "{{ jupyter_hostname }}"
    external-dns.alpha.kubernetes.io/target: "{{ nginx_lb_external_ip }}"
spec:
  ingressClassName: traefik
  tls:
  - hosts:
    - "{{ jupyter_hostname }}"
    secretName: jupyterhub-tls
  rules:
  - host: "{{ jupyter_hostname }}"
    http:
      paths:
      - path: /
        pathType: Prefix
        backend:
          service:
            name: jupyterhub
            port:
              number: 8000